apiVersion: apps/v1
kind: Deployment
metadata:
  name: animal-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: animalregistryhimanshu01.azurecr.io/animal-backend:latest # Jenkins isse update karega
        ports:
        - containerPort: 8080
