apiVersion: apps/v1
kind: Deployment
metadata:
  name: animal-backend
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # Jenkins is line ko build number ke sath automatically update karega
        image: animalregistryhimanshu01.azurecr.io/animal-backend:2
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: dev
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
